<button mat-raised-button color="primary" routerLink="/projects">Назад</button>

<div class="grid">
  <div class="grid-item" *ngFor="let item of items; let i = index" (click)="lightbox.open(i)">
    <img [src]="item.data.src">
  </div>
</div>

<div class="common-text">
  <p>Заказчик: ООО <q>Геостройсервис-с</q></p>
  <p>Дата сдачи: 2013-2016 гг.</p>
  <p>Тип проекта:Геологоразведочные работы, ТЭО кондиций, подсчёт запасов, проект отработки месторождения</p>
  <p>Округ: Сибирский федеральный округ</p>
</div>
