.app-spacer {
  flex: 1 1 auto;
}

.app-menu-icon {
  margin: 0px 5px;
  cursor: pointer
}

.app-nav-company {
  font-size: 0.75em;
}

.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  width: 300px;
}

.app-username {
  font-size: 0.75em;
}
