.app-spacer {
  flex: 1 1 auto;
}

.app-menu-button {
  margin: 0 5px 0 0;
  padding: 0;
  height: 100%;
}

.app-nav-company {
  font-size: 16px;
}

.app-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  width: 300px;
}

.app-username {
  font-size: 16px;
}

.mat-toolbar {
  position: fixed;
  z-index: 10;
  }

mat-sidenav.mat-sidenav {
  top: 64px;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

mat-toolbar.mat-toolbar mat-toolbar-row {
  padding: 0 16px 0 0;
}

.app-sidenav-content {
  padding: 80px 48px 16px 48px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.toolbar-logo {
  height: 80px;
  margin-top: 7px;
  margin-left: 2px;
  margin-right: 2px;
  width: 80px
}
.sidenav-logo {
  height: 300px;
  width: 300px;
  margin-top:170px;
}
