<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()" title="Навигация">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]='["/"]'><img alt="" src="../assets/SibGeoTekh_logo.png" class="toolbar-logo"/></a>
    <span class="app-nav-company">Акционерное общество «Геологические Технологии Сибири»</span>
    <span class="app-spacer"></span>
    <mat-icon>search</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<app-courusel></app-courusel>

<div>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav
      #sidenav
      mode="side"
      [(opened)]="opened"
      class="app-sidenav">
      <mat-list>
        <mat-list-item>
          <span class="app-username">Имя пользователя</span>
          <span class="app-spacer"></span>
          <button mat-raised-button color="accent">Выход</button>
        </mat-list-item>

        <mat-list-item *ngFor="let item of sideNavItems;">
          <button
            mat-button
            color="primary"
            [routerLink]="item.link"
            (click)="sidenav.toggle()">{{item.name}}
          </button>
        </mat-list-item>

      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="app-sidenav-content">
        <router-outlet></router-outlet>
      </div>
      <p class="app-copyright">© Все права защищены. 2018 год. Studying Syndicate.</p>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
