.app-spacer {
  flex: 1 1 auto;
}

.app-menu-button {
  margin: 0 5px 0 0;
  padding: 0;
  height: 100%;
}

.app-nav-company {
  font-size: 16px;
}

.app-content-container {
  position: relative;
}

.app-sidenav-container {
  position: absolute;
  min-height: 100% !important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.app-slideshow {
  top: 0;
  left: 0;
  z-index: 10;
}

.mat-drawer-container {
  background-color: transparent;
}

.app-sidenav {
  width: 300px;
}

mat-list-item .mat-button {
  text-align: left;
}

.app-username {
  font-size: 16px;
}

.mat-toolbar {
  position: fixed;
  z-index: 10;
}

mat-sidenav.mat-sidenav {
  top: 64px;
  background-color: #fafafa;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

mat-toolbar.mat-toolbar mat-toolbar-row {
  padding: 0 16px 0 0;
}

.app-sidenav-content {
  padding: 80px 48px 16px 48px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.toolbar-logo {
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
  width: auto
}

.sidenav-logo {
  height: 300px;
  width: 300px;
  margin-top:170px;
}

.app-copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}
