<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()" title="Навигация">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]='["/"]'><img alt="" src="../assets/SibGeoTekh_logo.png" class="toolbar-logo" /></a>
    <span class="app-nav-company">Акционерное общество «Геологические Технологии Сибири»</span>
    <span class="app-spacer"></span>
    <mat-icon>search</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="app-sidenav">
    <mat-list>
      <mat-list-item>
        <span class="app-username">Имя пользователя</span>
        <span class="app-spacer"></span>
        <button mat-raised-button color="accent">Выход</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" routerLink="/about">О компании</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary" routerLink="/geo-services">Услуги</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Проекты</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Фотогаллерея</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Публикации</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Вакансии</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button color="primary">Контакты</button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

