<mat-tab-group [dynamicHeight]="true" flex>
  <mat-tab label="О компании">
    <app-about-main></app-about-main>
  </mat-tab>
  <mat-tab label="Сотрудники">
    <app-about-staff></app-about-staff>
  </mat-tab>
  <mat-tab label="История">
    <app-about-history></app-about-history>
  </mat-tab>
  <mat-tab label="Структура">
    <app-about-structure></app-about-structure>
  </mat-tab>
  <mat-tab label="География">
    <app-about-geography></app-about-geography>
  </mat-tab>
  <mat-tab label="Документы">
    <app-about-documents></app-about-documents>
  </mat-tab>
</mat-tab-group>
