q {
  quotes: "\00ab" "\00bb";
}

p {
  font-size: 16px;
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  line-height: 1.8;
  margin-left: 35px;
}
p.fig {text-align: center;}

ol {
  font-size: 16px;
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  line-height: 1.8;
  counter-reset: item
}

li {
  display: block;
  font-size: 16px;
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  line-height: 1.8;
}

  li:before {
    content: counters(item, ".") " ";
    counter-increment: item
  }

h1 {
  font-size: 16px;
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

h2 {
  font-size: 16px;
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}
