<slideshow #slideshow
           [imageUrls]="images"
           [height]="height"
           [minHeight]="minHeight"
           [arrowSize]="arrowSize"
           [showArrows]="showArrows"
           [disableSwiping]="disableSwiping"
           [autoPlay]="autoPlay"
           [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
           [debug]="debug"
           [backgroundSize]="backgroundSize"
           [backgroundPosition]="backgroundPosition"
           [backgroundRepeat]="backgroundRepeat"
           [showDots]="showDots"
           [dotColor]="dotColor"
           [showCaptions]="showCaptions"
           [captionColor]="captionColor"
           [captionBackground]="captionBackground"
           [lazyLoad]="lazyLoad"
           [hideOnNoSlides]="hideOnNoSlides">
</slideshow>
