p {
  color: #FAEBD7;
  font-family: arial,helvetica,sans-serif;
  font-size: 16px;
}

.mat-card {
  width: 200px;
  height: 300px;
  display: inline-table;
  margin: 5px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-image {
  height: 200px;
  width: auto;
}


