<owl-carousel [options]="myOptions"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <img src="../../assets/temp_pics/1.jpg" title="pict1" />
    <img src="../../assets/temp_pics/2.jpg" title="pict2" />
    <img src="../../assets/temp_pics/3.jpg" title="pict3" />
    <img src="../../assets/temp_pics/4.jpg" title="pict4" />
</owl-carousel>

<owl-carousel [options]="myOptions2"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <img src="../../assets/temp_pics/1.jpg" title="pict1" />
  <img src="../../assets/temp_pics/2.jpg" title="pict2" />
  <img src="../../assets/temp_pics/3.jpg" title="pict3" />
  <img src="../../assets/temp_pics/4.jpg" title="pict4" />
</owl-carousel>
<div id='carousel-custom-dots' class='owl-dots my-dots-container'>
    <button mat-button color="primary" class="my-dot">1</button>
    <button mat-button color="primary" class="my-dot">2</button>
    <button mat-button color="primary" class="my-dot">3</button>
    <button mat-button color="primary" class="my-dot">4</button>
</div>

<br>
<mat-divider></mat-divider>
<br>
<gallery id="ex1" style="height: 500px;" [items]="items" thumbPosition="left"></gallery>

<br>
<mat-divider></mat-divider>
<br>

<div class="grid">
  <div class="grid-item" *ngFor="let item of items; let i = index" (click)="lightbox.open(i)">
    <img [src]="item.data.src">
  </div>
</div>
