.card {
  display: inline-grid;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 10px;
  text-indent: 20px;
}

.card.mat-card {
  width:350px;
  height: 340px
}

.info-btn {
  float: right;
}
