.app-sidenav-container {
  height: calc(100% - 70px);
  width: 100%;
}

mat-sidenav.mat-sidenav {
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
}

.app-sidenav-content {
  min-height: calc(100% - 20px - 40px); /* 20px - просвет, 40px - высота копирайта*/
}

.app-copyright {
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom: 0;
  margin: 0;
}

.app-menu-list-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-drawer-container {
  font-family: "Arial", Arial, sans-serif;
  font-weight: 700;
}

.mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}
